/* import font montserrat from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {

    --color-white: #fff;
    --color-light: #e4c0c0;
    --color-grey: #8e7979;
    --color-primary: #ed1e79;
    --color-secondary: #c7b299;
    --color-success: #97a342;
    --color-danger: #a52d2d;
    --color-dark: #78103e;
    --color-black: #020202;
    
    --border-radius: 2rem;
    --card-border-radius: 1rem;

    --search-padding: .6rem 1rem;
    --card-padding: 1rem;
    --btn-padding: .6rem 2rem

}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-black);
    background: var(--color-white);
}


/****************** Custom Style **********************/
.container {
    width: 90%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

.profile-picture {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture:hover {
    opacity: 0.75;
}

.btn {
    padding: var(--btn-padding);
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 500;
    transition: 300ms ease all;
}

.btn:hover {
    opacity: 0.75;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.text-bold {
    font-weight: 500;
}
.text-gry {
    color: var(--color-grey);
}



/****************** Start Navbar **********************/

nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0.7rem 0;
    background: var(--color-light);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-post {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logout {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logout .btn {
    background: var(--color-dark);
    color: var(--color-white);
}

/* container for the logo image */
.logo-container {
    width: 768px;
    max-width: 100%;
    display: flex;
}

.logo-container img {
    height: 50px;
    width: auto;
}

/****************** End Navbar **********************/



/****************** Main Section **********************/
main {
    position: relative;
    top: 6rem;
}

.main-container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
}

/* Main Left */
.main-left {
    position: sticky;
    height: max-content;
    top: 5.4rem;
}

.main-left .profile {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    gap: 1rem;
    display: flex;
}

aside {
    margin-top: 1rem;
    border-radius: var(--card-border-radius);
}

aside .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background: var(--color-white);
}

aside .menu-item:hover {
    background: var(--color-light);
} 

aside .menu-item span img {
    width: 1.8rem;
    margin-left: 2rem;
    position: relative;
}
aside .notfy-counter {
    background: var(--color-danger);
    color: var(--color-white);
    width: fit-content;
    font-size: 0.7rem;
    border-radius: 30%;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: 0.7rem;
    left: 3.2rem
}

aside .menu-item h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

aside .active {
    background: var(--color-light);
}

aside .active h3 {
    color: var(--color-primary);
}
aside .active::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 100%;
    background: var(--color-primary);
}
aside .menu-item:first-child{
     overflow: hidden;
     border-top-left-radius: var(--card-border-radius);
     border-top-right-radius: var(--card-border-radius);
}
aside .menu-item:nth-last-child(2){
     overflow: hidden;
     border-bottom-left-radius: var(--card-border-radius);
     border-bottom-right-radius: var(--card-border-radius);
}

.btn-lg {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

/* Main Middle */
.middle-container {
    max-width: 700px !important;
    width: 90%;
    margin: 0 auto;
}

.main-middle .add-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
    background: var(--color-white);
    margin-top: 1rem;
}

.main-middle .add-post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

.main-middle .add-post .profile-picture {
    width: 2.8rem;
}


/* Feed */
.feeds .feed {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin: 1rem auto;
    line-height: 1.5;
    font-size: 0.85rem;
}

.feeds .feed .feed-top {
    display: flex;
    justify-content: space-between;
}

.feed .feed-top .user {
    display: flex;
    gap: 1rem;
}

.feed .feed-top .edit img{
    width: 1.6rem;
}

.feed .feed-img {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.8rem 0;
}

.feed .action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

/****************** End Main Section **********************/





/****************** End Navbar **********************/
/****************** End Navbar **********************/
/****************** End Navbar **********************/
/****************** End Navbar **********************/
/****************** End Navbar **********************/


